.header{
    grid-area: h;
    background: linear-gradient(to right, #161518, #09128d);
}
    .header img{
      width: 100px;
      padding: 0;
      margin: 0;
}
.loginBlock{
  float: right;
  margin-right: 20px;
}

.login {
  color: white;
}

.nav {
  color: white;
}